
.card1{
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.container-fluid {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 15px;
  }
  .container{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
  
  }
/* 
  .container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  } */
  
  .ant-layout {
    background: #fff !important;
  }
  
  .mainLayout .ant-layout-header {
    background: #f8f8f8;
    padding: 0;
    height: auto;
    line-height: 1.6;
  }